<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://bootswatch.com/4/superhero/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/adminUsers.css}"/>
</head>

<body>

    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/index">NCBestBank</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <div class="loop" th:each="namesLinks : ${namesLinksList}">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="${namesLinks.getValue()}">
                                <span class="span-text-navbar"> [[${namesLinks.getKey()}]] </span>
                            </a>
                        </li>
                    </div>

                    <li class="nav-item" th:if="${user != null}">
                        <a id="logout" class="nav-link" href="/logout">
                            <img src="/images/logout.png" alt="" width="23" height="23" style="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div id="modals">
        <div class="modal fade" id="modalChangeUsername" data-card_id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change username</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="new-username" class="col-form-label">New username:</label>
                                <input type="text" class="form-control" id="new-username">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="transfer-button"  type="button" onclick="changeUsername(this);" class="btn btn-primary">Change</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalChangeEmail" tabindex="-1" data-card_id="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelQRGet">Change email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="new-email" class="col-form-label">New email:</label>
                                <input type="text" class="form-control" id="new-email">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="changeEmail(this);" class="btn btn-primary">Change</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalChangePhoneNumber" tabindex="-1" data-card_id="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelQRPut">Change mobile phone number</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="new-phone-number" class="col-form-label">New mobile phone number:</label>
                                <input type="text" class="form-control" id="new-phone-number">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="changePhoneNumber(this);" class="btn btn-primary">Change</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='main'>
        <div class="container">
            <div class="row">
                <div class="col-auto"></div>
                <div class="col">
                    <label id="card-block"></label>
                    <div id="cards" class="bills-menu">
                        <div class="title">Application users</div>
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th colspan="2" class="head-left table-header"> Id </th>
                                <th class="head-inner table-header"> Username </th>
                                <th class="head-inner table-header"> Email </th>
                                <th class="head-inner table-header"> Mobile Phone </th>
                                <th colspan="6" class="head-right table-header"> Actions </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td colspan="2" class="cells" th:text="${user.getId()}"></td>
                                <td class="cells" th:text="${user.getUsername()}"></td>
                                <td class="cells" th:text="${user.getEmail()}"></td>
                                <td class="cells" th:text=" '+' + ${user.getMobilePhoneNumber().getMobilePhoneNumberValue()}"></td>

                                <td width="200" class="cells">
                                    <div th:attr="data-user_id=${user.getId()}" id="dropdown-button" class="dropdown show">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Choose the action
                                        </a>

                                        <div id="dropdown-id" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalChangeUsername" data-whatever="@mdo">•  Change username</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalChangeEmail" data-whatever="@mdo">•  Change email</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalChangePhoneNumber" data-whatever="@mdo">•  Change mobile phone number</a>
                                            <a class="dropdown-item" th:href="'/admin/users/deleteuser/' + ${user.getId()}">•  Delete user</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <p>
                            <input type="button" value="Create user" class="create-card btn btn-secondary my-2 my-sm-0"
                                   onclick="parent.location='/admin/users/createuser'"></input>
                        </p>

                        <div th:if="${message} != null" class="notify"><span id="notifyType" class=""> [[${message}]] </span></div>

                    </div>
                </div>
            </div>
        </div>

        <div th:insert="common :: footer"></div>
    </div>
</body>

<script th:inline="javascript">
    function changeUsername(button) {
        var userId = button.parentElement.parentElement.parentElement.parentElement.dataset.user_id;
        console.log(userId);
            var url = '/admin/users/change/username/' + userId +
            '?username=' + $("#new-username").val();
        window.location = url;
    }
</script>

<script th:inline="javascript">
    $('#modalChangeEmail').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var modal = $(this);
        var user_id = button.parent().parent().data('user_id');
        $(this).attr('data-user_id', user_id);
    })
</script>

<script th:inline="javascript">
    function changeEmail(button) {
        var userId = button.parentElement.parentElement.parentElement.parentElement.dataset.user_id;
        console.log(userId);
        var url = '/admin/users/change/email/' + userId +
            '?email=' + $("#new-email").val();
        window.location = url;
    }
</script>

<script th:inline="javascript">
    $('#modalChangeUsername').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var modal = $(this);
        var user_id = button.parent().parent().data('user_id');
        $(this).attr('data-user_id', user_id);
    })
</script>

<script th:inline="javascript">
    function changePhoneNumber(button) {
        var userId = button.parentElement.parentElement.parentElement.parentElement.dataset.user_id;
        console.log(userId);
        var url = '/admin/users/change/phone/' + userId +
            '?phone=' + $("#new-phone-number").val();
        window.location = url;
    }
</script>

<script th:inline="javascript">
    $('#modalChangePhoneNumber').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var modal = $(this);
        var user_id = button.parent().parent().data('user_id');
        $(this).attr('data-user_id', user_id);
    })
</script>



<script>
    $(document).ready(function () {

        $(".notify").toggleClass("active");
        $("#notifyType").toggleClass("success");

        setTimeout(function(){
            $(".notify").removeClass("active");
            $("#notifyType").removeClass("success");
        },3000);
    });
</script>

</html>
