<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://bootswatch.com/4/superhero/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin/adminUsers.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/billdetails.css}"/>
    </head>

    <body>

        <div id="header">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2980b9;">

                <div class="nav-logo-wrapper">
                    <a class="navbar-logo" href="/index">
                        <img src="/images/logo.png" height="48" alt="">
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <div class="loop" th:each="namesLinks : ${namesLinksList}">
                            <li class="nav-item active">
                                <a class="nav-link" th:href="${namesLinks.getValue()}">
                                    <span class="nav-link-text"> [[${namesLinks.getKey()}]] </span>
                                </a>
                            </li>
                        </div>
                    </ul>

                    <div class="user-info">
                        <a class="user-welcome-wrapper" href="/admin/">
                                <span class="nav-link-text">
                                    [[${user.getUsername()}]]
                                </span>
                        </a>
                        <a class="icon-wrapper">
                            <a href="/logout">
                                <img src="/images/logout.png" alt="" width="15" height="15">
                            </a>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class='body-container'>
            <div th:if="${nonAdmins.isEmpty() != true}">

                <p class="title">
                    Users
                </p>

                <div class="container">
                    <div class="col">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="head-left table-header">Id</th>
                                    <th scope="col" class="head-inner table-header">Username</th>
                                    <th scope="col" class="head-inner table-header">Email</th>
                                    <th scope="col" class="head-right table-header">Mobile Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${nonAdmins}">
                                    <th scope="row" class="cells">[[${user.getId()}]]</th>
                                    <td class="cells">[[${user.getUsername()}]]</td>
                                    <td class="cells">[[${user.getEmail()}]]</td>
                                    <td class="cells">[[${user.getMobilePhoneNumber().getMobilePhoneNumberValue()}]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div th:if="${nonAdmins.isEmpty() == true}">
                <p class="title no-users-message">
                    No users are existing.
                </p>

            <p style="color: crimson">
                All rights reserved &copy; 2019
            </p>

        </div>
    </body>
</html>