@import "/css/common.css";
@import "/css/navbar.css";

.navbar-collapse{
    position: relative;
    margin-left: 2rem;
}

.table-hrefs {
    color: #495057 !important;
}

.title{
    margin-top: 2rem;
    color: crimson !important;
    font-size: 2rem !important;
    font-family: Baufra, serif;
    text-align: center;
    margin-bottom: 0 !important;
}

.table .thead-dark th{
    background-color: rgb(213, 222, 215) !important;
    border-color: rgb(213, 222, 215) !important;
}

.body-container{
    padding-right: 1rem;
}
.table-container{
    padding: 1rem 2rem 2rem;
}