@import "common.css";

.container{
    position: static;
    padding: .10em 2.5em;
}
.goto{
    background-color: #0046d5;
    color: #fdfdff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .5em 1em;
}

.goto:hover,
.goto:focus {
    background: #0046d5;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn-default {
    background-color: #b00400;
    color: #fdfdff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .5em 1em;
}
.btn-default:hover,
.btn-default:focus {
    background: #b0232c;
    color: #fdfdff;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn-btn-info-btn-lg{
    background-color: #ea0c5b;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .3em 3em;
}

.btn-btn-info-btn-lg:hover,
.btn-btn-info-btn-lg:focus {
    background: #ea0c5b;
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.logout{
    background-color: #ca0074;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .3em 3em;
}

.bills-menu {
    color: #0046d5;
}


#cards {
    font-family: "Lato";
}

.title {
    font-size: 30px;
    color: #3b8289;
    font-weight: bolder;
    padding-left: 15px;
    padding-top: 8%;
    padding-bottom: 2%;
    text-align: center;
}

#ul-cards {
    font-size: 20px;
}

#username{
    font-family: "Lato";
    font-size: 30px;
    color: #0007f4;
}

#card-block{
    margin-left: 15%;
}

.hide_show ul{
    display: none;   // скрываем все дочерние списки
}
.hide_show:hover ul{
    display: block;   // скрываем все дочерние

position:relative;
    width:100%;
    height:0px;
    margin-top:0;
}

.thead-light {
    font-size: large;
    border-top: hidden;
}

.head-left {
    border-top-left-radius: 20px;
}

.head-right {
    border-top-right-radius: 20px;
}

.cells {
    padding: 3px;
    border: 1px solid rgb(171, 182, 194);
    background-color: white;
    color: #495057;
    font-size: 15px;
}

.table {
    border-collapse: collapse;
    text-align: center;
    padding: 1.75rem !important;
}

td {
    padding: 1.75rem !important;
}

.table-header {
    background-color: rgb(213, 222, 215) !important;
}

.head-inner {
    border-left: 1px solid rgb(171, 182, 194) !important;
    border-right: 1px solid rgb(171, 182, 194) !important;
}

.table-hrefs {
    color: #495057 !important;
}

.drop-menu {
    padding-left: 0;
}

.create-card {
    border-radius: 16px !important;
    height: 30px !important;
    padding: 0 !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    border: none !important;
    color: #495057 !important;
    background-color: #fbb76b !important;
    font-weight: bolder !important;
}

* {
    margin: 0;
    padding: 0;
}

.drop-ul {
    list-style-type: none;
}

.drop-li {
    background-color: white;
}