.body-container, #header, #footer {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    background-clip: border-box;
}

.body-container{
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: #e4fff1;
}

#footer, #header{
    background-color: #2980b9;
}

body{
    background-color: #e4fff1 !important;
}