.body-container, #header, #footer {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    background-clip: border-box;
}

.body-container{
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: #e4fff1;
}

#footer, #header{
    background-color: #2980b9;
    display: table-row;
    height: 0;
}

body{
    background-color: #e4fff1 !important;
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

#logout {
    padding-left: 60px;
}

.container {
    min-height: calc(100vh - 80px);
}

.footer {
    text-align: right;
    color: #495057;
    padding-right: 1%;
}