@import "common.css";

#index-signin {
    border: 8px;
    border-radius: 30px;
}

.navbar-collapse{
    position: relative;
    margin-left: 2rem;
}

.user{
    color: #000000;
    font-weight: bold;
    font-style: italic;
}
.user:hover{
    color: rgba(0,0,0,0.69);
    text-decoration: none;
}

.slider {
    height: 315px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-color: #e4fff1;
    background-repeat: no-repeat;
    background-position: 50% -1px;
}

.info-blocks {
    font-size: 0;
    margin: 6rem 0;
}
.info-blocks, .welcome-slider-2 {
    transition: opacity 1.25s;
    transition-delay: .2s;
}
body * {
    box-sizing: border-box;
}

div {
    display: block;
}

.info-blocks__wrap {
    display: flex;
}
.container {
    min-height: auto;
    width: 73.125rem;
    margin: 0 auto;
    font-size: 0;
}

.currency-block {
    position: relative;
    margin-right: 1rem;
    border-radius: 20px 120px 20px 120px;
}
.currency-block, .map-block {
    font-size: 16px;
    vertical-align: top;
    width: calc(50% - .9375rem);
    padding: 2.5rem 2.5rem 2.5rem;
    display: inline-block;
    background-color: #c2f4e0;
    align-items: stretch;
}

.currency-block__title, .map-block__title {
    font-size: 2.25rem;
    font-style: italic;
    font-family: sans-serif;
    margin: 0 0 2.5rem;
    padding: 0;
    position: relative;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.currency-block__changer {
    position: absolute;
    right: 2.5rem;
    top: 4.375rem;
    z-index: 2;
}

.currency-block__container-wrapper {
    display: table;
    width: 100%;
}

.currency-block__row {
    display: table-cell;
}

.currency-block__row:first-child {
    width: 7.625rem;
}

.currency-block__row:nth-child(2), .currency-block__row:nth-child(3) {
    width: 6.375rem;
}

.currency--head {
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    margin: 0;
    padding-bottom: .875rem;
    transform: translateY(-4px);
}

.grey-color {
    color: #7f7f7f;
}

.cn-data, .cn-value {
    padding: 1.9375rem 0 2.375rem;
    box-shadow: 0 -1px 0 #f4f5f5;
}

.cn-value{
    font-weight: bold;
}
.cn-data {
    font-family: futura-book,Helvetica,sans-serif;
    font-size: 16px;
    color: #333;
}

.currency--name {
    margin: 0;
}

.b-block-row__item--error-list {
    width: auto;
    display: table-cell;
    vertical-align: top;
    color: #7f7f7f;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.text-image{
    position: relative;
    margin-left: 3rem;
}

.text-image img{
    padding: 0.5rem 2.5rem;
    width: 100%;
    height: auto;
    opacity: 0.9;
    border-radius: 120px 0 120px 0;
}

.semi-centered {
    position: absolute;
    bottom: 20%;
    width: 100%;
    left:  0;
    text-align: center;
}

.btn{
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 2rem !important;
}

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 1.0), 0 0 20px rgba(255, 255, 255, 1.0);
    text-shadow: 1px 1px 1px #ffffff;
}

.container-colored{
    background-color: #4b89ff;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0 2rem 6rem;
    transition:ity 1.25s;
    transition-delay: .2s;
    border-radius: 60px 60px 60px 60px;
}
.news-block{
    padding: 3.75rem 0;
}

.news-container {
    width: 73.125rem;
    margin: 0 auto;
    font-size: 0;
}

.e-title {
    font-family: futura-heavy,sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.e-title--h1 {
    font-size: 3rem;
    line-height: 1;
}

.e-title a {
    color: #03031c;
    text-shadow: 4px 4px 4px #03031c;
}

body a {
    text-decoration: none !important;
}

.news-block__wrap {
    padding: 2.5rem 0 0;
    margin: 0 -.625rem;
}

.news-block__item--one-third:first-child {
    margin-left: 0;
}

.news-block__item a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.news-block__wrap .b-block-description {
    font-family: futura-demi,sans-serif;
    padding-left: 0;
    color: crimson !important;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: .8px;
    margin: 0;
}

.title-news {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: futura-book,Helvetica,sans-serif;
    margin: 1rem 0 0;
    padding: 0;
}

.news-block__item--one-third {
    width: 23.11875rem;
    margin-left: 1.86875rem;
    border-radius: 20px 20px 20px 20px;
}

.news-block__item--one-third:hover{
    background-color: #e4fff1;
}


.news-block__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    padding: .625rem;
}

.news-block__item:hover>div {
    color: #03031c;
}

#footer{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
