@import "common.css";


#forget-password{
    color: #d47a1a;

}

#forget-password:hover{
    color: #d4aa24;
}

.confirm{
    background-color: #0046d5;
    color: #fdfdff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .5em 1em;
}
.confirm:hover,
.confirm:focus {
    background: #0046d5
}
