@import "common.css";

.container{
    position: static;
    padding: .10em 2.5em;
}
.goto{
    background-color: #0046d5;
    color: #fdfdff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .5em 1em;
}

.goto:hover,
.goto:focus {
    background: #0046d5;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn-default {
    background-color: #b00400;
    color: #fdfdff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .5em 1em;
}
.btn-default:hover,
.btn-default:focus {
    background: #b0232c;
    color: #fdfdff;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn-btn-info-btn-lg{
    background-color: #ea0c5b;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .3em 3em;
}

.btn-btn-info-btn-lg:hover,
.btn-btn-info-btn-lg:focus {
    background: #ea0c5b;
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.logout{
    background-color: #ca0074;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .3em 3em;
}

.bills-menu {
    color: #0046d5;
}


#cards {
    font-family: "Lato";
}

.title {
    font-size: 25px;
    color: #0007f4;
}

#ul-cards {
    font-size: 20px;
}

#username{
    font-family: "Lato";
    font-size: 30px;
    color: #0007f4;
}

#card-block{
    margin-left: 25%;
}

table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
th {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}
td:first-child {
    border-left: 2px solid #56433D;
    border-right: none;
}
td:nth-child(2){
    text-align: center;
}

.cells {
    color: #0007f4;
}