@import "common.css";

.container{
    position: static;
    padding: .10em 2.5em;
}
.goto{
    background-color: #2980b9;
    color: #fdfdff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .5em 1em;
}

.goto:hover,
.goto:focus {
    background: #647aff;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn-default {
    background-color: #b00400;
    color: #fdfdff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .5em 1em;
}
.btn-default:hover,
.btn-default:focus {
    background: #b0232c;
    color: #fdfdff;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn-btn-info-btn-lg{
    background-color: #ca0074;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: .3em 3em;
}

.btn-btn-info-btn-lg:hover,
.btn-btn-info-btn-lg:focus {
    background: #b00063;
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}




