<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p> BillId: [[${billId}]]</p>
    <p> HolderId: [[${holderId}]]</p>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
        <script type='module' th:src="@{../js/billPlot.js}">
            buildBillPlot([[${map.keySet()}]], [[${map.values()}]])
        </script>
    </div>
</body>
</html>