<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml" lang="en">
<body>

    <div th:fragment="header (First,Second,Third)">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2980b9;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item active" th:switch="${First}"  >
                        <a th:case="'Sign In'" class="nav-link"  href="/login">
                            <span th:text="${First}"></span>
                        </a>
                        <a th:case="'Log Out'" class="nav-link"  href="/logout" >
                            <span th:text="${First}"></span>
                        </a>
                        <a th:case="null" class="nav-link disabled" tabindex="-1" aria-disabled="true">
                            <span th:text="${First}"></span>
                        </a>
                    </li>

                    <li class="nav-item" th:if="${Second == null}">
                        <a class="nav-link disabled" href="/registration" tabindex="-1" aria-disabled="true">
                            <span th:text="${Second}"></span>
                        </a>
                    </li>
                    <li class="nav-item active" th:if="${Second != null}">
                        <a class="nav-link" href="/registration"> <span th:text="${Second}"></span> </a>
                    </li>


                    <li class="nav-item active" th:if="${Third != null}">
                        <a class="nav-link" href="/about"> <span th:text="${Third}"></span> </a>
                    </li>
                    <li class="nav-item" th:if="${Third == null}">
                        <a class="nav-link disabled" href="/about" tabindex="-1" aria-disabled="true">
                            <span th:text="${Third}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div th:fragment="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Title</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</body>
</html>