<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/css/error.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-err">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Page not found</h2>
            <input type="button" class="goto" onclick="parent.location='index'" value="Go to index"/>
        </div>
    </div>
</body>
</html>