<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:insert="common :: header (First = 'Sign In',Second = 'Sign Up',Third = 'About')"></div>


<div class="jumbotron">
    <h1 class="display-3">Welcome to NetcrackerBank!</h1>
    <p class="lead">Information was here...</p>
    <hr class="my-4">
    <p>To receive service you need to log in.</p>
    <p class="lead">
        <a id="index-signin" class="btn btn-primary btn-lg" href="/login" role="button">Sign In</a>
    </p>
</div>
<div class="main">
        <p style="color: crimson">
            All rights reserved &copy; 2019
        </p>
    </div>
</body>
</html>