<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title> Login</title>
</head>
<body>
<form id="login__form" method="post">
    login
    <br>
    <input type="text" name="username" id="username__input"/>
    <br>
    password
    <br>
    <input name="password" type="password" id="password__input"/>
    <br>
    <br>
    <input type="submit" id="submit__button" value="Click Me"/>
</form>
<script th:inline="javascript">
//todo: validations for form if it is necessary
</script>
</body>
</html>