<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/json" src="../static/formValidator.js"></script>
</head>
<body>
<a href="/userpage">userpage</a>

<form th:userDto="${user}" th:action="@{/registration}"  method="post">
    <h1>Sign up form</h1>

    <label for="inputLogin">Login</label>
    <input type="text" id="inputLogin" placeholder="Login" required autofocus
           th:field="*{user.username}">

    <label for="inputEmail">Email address</label>
    <input type="email" id="inputEmail" placeholder="Email address" required
           th:field="*{user.email}">

    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" placeholder="Password" required th:field="*{user.password}">

    <button>Sign up</button>

    <p>&copy; 2019</p>

</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script th:inline="javascript">
    function validateFormData(formObject) {
        let pass1 = $("#password__one__signup").val();
        let pass2 = $("#password__second__signup").val();
        if (pass1 != pass2) {
            alert("passwords are not equal");
            return false;
        }

        let seria = "";
        seria = $("#seria__signup").val();
        let passportNum = "";
        passportNum = $("#passport__signup").val();

        if (!validation(formObject)) {
            alert("Validation problems.");
            return false;
        }

        return true;
    }
</script>
</html>