<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/registration.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"

</head>
<body>
    <div th:insert="common :: header (First = 'Sign In',Second = 'Sign Up',Third = 'About')"></div>

    <div class="body-container">
        <form th:userDo="${user}" th:action="@{/registration}" method="post">
            <h3>Sign up</h3>
            <p>
                <label for="inputLogin">Login:</label>
                <input type="text" id="inputLogin" placeholder="Login" required autofocus
                       th:field="*{user.username}">
                <span class="validation_message" th:if="${username != null}">
                         [[${username}]]
                </span>
            </p>

            <p>
                <label for="inputPassword"> Password:</label>
                <input type="password" id="inputPassword" placeholder="Password" required
                       th:field="*{user.password}">
            </p>

            <p>
                <label for="inputEmail">Email address:</label>

                <input type="email" id="inputEmail" placeholder="Email address" required
                       th:field="*{user.email}">
                <span class="validation_message" th:if="${email != null}">
                         [[${email}]]
                </span>
            </p>

            <p>
                <label for="inputPhoneNumber">Mobile phone number: </label>

                <input id="inputPhoneNumber" placeholder="Mobile phone number" required
                       th:field="*{user.mobilePhoneNumber.mobilePhoneNumberValue}">
                <span class="validation_message" th:if="${mobilePhoneNumber != null}">
                         [[${mobilePhoneNumber}]]
                </span>
            </p>

            <button class="confirm"> Sign Up </button>

        </form>
        <p style="color: crimson">
            All rights reserved &copy; 2019
        </p>
    </div>

</body>
</html>
