<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/userpage">userpage</a>

    <form id="signup__form" method="post" onsubmit="validateFormData()">
        <label>
            User name
            <input type="text" id="username__signup"/>
        </label>
        <br/>
        <label>
            Date of birth
            <input type="date" id="birthday__signup"/>
        </label>
        <br/>
        <label>
            Seria
            <input type="text" id="seria__signup"/>
        </label>
        <label>
            Passport No
            <input type="text" id="passport__signup"/>
        </label>
        <br/>
        <label>
            Password
            <input type="password" id="password__one__signup"/>
        </label>
        <br/>
        <label>
            Confirm password
            <input type="password" id="password__second__signup"/>
        </label>
        <br/>
        <button>
            <input type="submit"/>
        </button>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script th:inline="javascript">
    //example of function that validate content of inputs
    //todo: another validations if necessary for bank client
    function validateFormData() {
        //find ("input, textArea") as example...
        //in our case we need only input
        let pass1 = $("#password__one__signup").val();
        let pass2 = $("#password__second__signup").val();
        if (pass1 != pass2) {
            alert("passwords are not equal");
            return false;
        }
        return true;
    }
</script>
</html>