<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <a href="/index">index</a>
=======    <title> Userpage </title>
</head>
<body>
    <a href="index"> Go to index </a>
    <br/>
    <br/>
    <label>
        <li>
            <p>Hello, [[${userName}]]!</p>
            <p>ID: [[${userId}]]</p>
        </li>
    <br/>
    <ul>
        <li th:each="bill : ${bills}">
            <p> [[${bill.getId()}]] </p>
            <p> [[${bill.getBalance()}]] </p>
        </li>
    </ul>


<!--    <label> Card 1 : account  </label>-->
<!--    <button> Fill </button>-->
<!--    <br/>-->
<!--    <label> Card 2 : account  </label>-->
<!--    <button> Fill </button>-->
<!--    <br/>-->
<!--    <label> Card 3 : account  </label>-->
<!--    <button> Fill </button>-->
<!--    <input type="submit" onclick="Print()" value="Fill"/>-->
</body>
</html>