<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userpage.css}"/>
    <link href="https://bootswatch.com/4/superhero/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>

<div th:insert="common :: header (First = 'Log Out',Second = 'Sign Up',Third = 'About')"></div>

<!--todo:separate buttons for users-->
<div class='main'>
    <div class="container">
        <div class="row">
            <div class="col-auto">
            </div>
            <div class="col">
                <label id="card-block">
                        <div class="title">Bills</div>
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2"> Bill number </th>
                                    <th> Balance </th>
                                    <th> Operations </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr  th:each="bill : ${bills}">
                                        <td colspan="2" ><a class="cells" th:href="'http://me.org:8080/billdetails/' + ${bill.getId()}"
                                                th:text="'Bill number: ' + ${bill.number}"/></td>
                                        <td class="cells" th:text="${bill.getBalance()}"/>
                                        <td class="cells"><a class="cells" th:href="'http://me.org:8080/deletebill/' + ${bill.getId()}">Delete this bill</a></td>
                                    </tr>
                            </tbody>
                        </table>
                    <a th:href="'http://me.org:8080/createbill/' + ${user.getId()}">Create a new bill</a>
                </label>
            </div>
        </div>
    </div>

    <p style="color: crimson">
        All rights reserved &copy; 2019
    </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>
